@{
    
}
<div class="detail-common">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-9">
                <h2>Laura Pausini - Tra Te e Il Mare</h2>
                <p>Album: Tra Te e Il Mare</p>
                <p>Anno: 2001</p>
                <p>Genere: Leggera</p>
                <p>Last Play: 12/03/2017</p>
                <p>Number Of Play: 30</p>
            </div>
            <div class="col-xs-3">
                <img class="img-rounded img-reduced" src="~/images/sampleAlbum.jpg" />
            </div>
        </div>
        <div class="row spaced">
            <div class="col-xs-12">
                <audio controls class="audio-streaming">
                    <source src="@Url.Action("GetStreamingAudio","Song", new { id = 0 })" type="audio/mp3" />
                </audio>
            </div>
        </div>
    </div>
</div>



