@section scripts{
    <script src="~/app/components/song/song-search.controller.js"></script>
    <script src="~/app/components/song/song-search.service.js"></script>
}

<section class="page-list song-list" 
         ng-controller="SongSearchController"
         ng-init="clickOnLetter('A')">
    <div class="row">
        <!-- Navigation by letter Section -->
        <div class="col-md-12">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" ng-click="clickOnLetter('A')">A</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('B')">B</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('C')">C</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('D')">D</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('E')">E</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('F')">F</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('G')">G</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('J')">J</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('I')">I</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('K')">K</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('L')">L</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('M')">M</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('N')">N</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('O')">O</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('P')">P</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('Q')">Q</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('R')">R</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('S')">S</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('T')">T</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('U')">U</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('V')">V</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('W')">W</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('X')">X</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('Y')">Y</a>
                </li>
                <li>
                    <a href="#" ng-click="clickOnLetter('Z')">Z</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <input type="text"
               placeholder="Search.."
               ng-model="userInputFilterTitle" />
    </div>
    <div class="row">
        <!-- Content box Section -->
        <div class="col-md-12">
            <div class="wrapper" ng-repeat="song in songList | filter : {titleLabel : userInputFilterTitle}">
                <div ng-bind="::song.genreLabel" class="box genre genre-rock"></div>
                <div class="box">
                    <div class="title">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <a ng-href="{{::song.songDetailLink}}"
                           ng-bind="::song.titleLabel"
                           title="Go to Song Details">
                        </a>
                    </div><br />
                    <div class="artist">
                        <i class="fa fa-microphone" aria-hidden="true"></i> {{::song.artistLabel}}</div><br />
                    <div class="album"><i class="fa fa-circle-thin" aria-hidden="true"></i> {{::song.albumLabel}} ({{::song.yearNumber}})</div><br />
                </div>
            </div>
        </div>
    </div>
</section>

