@model List<MusicInside.ModelView.AlbumRowViewModel>

@section scripts{
    <script src="~/app/components/album/album-search.controller.js"></script>
    <script src="~/app/components/album/album-search.service.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
}

<section class="page-list album-list"
         ng-controller="AlbumSearchController">
    <div class="row">
        <div class="music-grid">
            <div class="music-grid-item"
                 ng-repeat="album in albumList">
                <div class="album-title">
                    <a ng-href="{{::album.albumDetailLink}}"
                       ng-bind="album.albumName"
                       title="Go to Album Details">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
