body {
  background-color: grey;
  overflow-x: hidden;
}
body .main-content .page-list {
  margin-left: 30px;
}
body .main-content .page-list .music-grid {
  padding-top: 20px;
}
body .main-content .page-list .music-grid .music-grid-item {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  position: relative;
  float: left;
  margin: 4px;
  text-align: center;
  background-color: cadetblue;
}
body .main-content .page-list.song-list .music-grid .music-grid-item .title {
  background-color: black;
  border-bottom-left-radius: 10px;
}
body .main-content .page-list.song-list .row ul.pagination li a {
  background-color: #ccc;
  padding: 12px;
  border: 1px solid black;
}
body .main-content .page-list.song-list .row input {
  background-color: white;
  background-image: url('../images/icons/searchicon.png');
  background-position: 2px 1px;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding-left: 40px;
}
body .main-content .page-list.artist-list .music-grid .music-grid-item .artname {
  background-color: black;
  border-bottom-left-radius: 10px;
}
body .main-content .detail-common .container-fluid .row .cover {
  margin-top: 14px;
}
body .main-content .detail-common .container-fluid .row .cover .img-reduced {
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 100px;
}
body .main-content .detail-common .container-fluid .row .title {
  text-align: center;
  margin-top: 14px;
  font-size: 1.4vw;
  letter-spacing: 4px;
  text-decoration: underline;
}
body .main-content .detail-common .container-fluid .row .title a {
  color: #000;
}
body .main-content .detail-common .container-fluid .row .title a:hover {
  color: #c3c0be;
}
body .main-content .detail-common .container-fluid .row.details {
  display: flex;
  justify-content: center;
}
body .main-content .detail-common .container-fluid .row.details table tbody {
  font-size: 1vw;
}
body .main-content .detail-common .container-fluid .row.details table tbody tr td.label-column {
  float: right;
}
body .main-content .table tbody tr td.border-right-solid {
  border-right: 1px solid #ddd;
}
body .main-content .table tbody tr td a:hover {
  text-decoration: none;
}
body .main-content .row.playlist-audio-control {
  width: 100%;
  position: fixed;
  bottom: 0;
}
body .main-content .row.playlist-audio-control .audio-control .audio-container {
  display: inline;
  width: 92%;
  float: left;
  top: 4px;
  position: relative;
}
body .main-content .row.playlist-audio-control .audio-control .audio-container #audio {
  width: 100%;
}
body .main-content .row.playlist-audio-control .audio-control .opener-container {
  display: inline;
  width: 8%;
  float: left;
  position: relative;
  top: 4px;
}
body .main-content .row.playlist-audio-control .audio-control i.fa {
  background-color: #fff;
  padding-left: 6px;
  padding-top: 3px;
  font-size: 24px;
  height: 32px;
  width: 100%;
}
body .main-content .row.playlist-audio-control #playlist {
  background-color: #ffffff;
  border-bottom: 1px dotted;
  border-top: 2px groove;
}
