body {
  background-color: grey;
}
body .main-content {
  width: 80%;
}
body .main-content .page-list {
  margin-left: 30px;
}
body .main-content .page-list.song-list .row ul.pagination li a {
  background-color: #ccc;
  padding: 12px;
  border: 1px solid black;
}
body .main-content .page-list.song-list .row .wrapper {
  display: grid;
  margin: 5px;
  grid-gap: 10px;
  grid-template-columns: 1fr 18fr;
}
body .main-content .page-list.song-list .row .wrapper .box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  line-height: 0.271429;
}
body .main-content .page-list.song-list .row .wrapper .box:nth-child(even) {
  background-color: #ccc;
  color: #000;
  border-left: #444 10px solid;
}
body .main-content .page-list.song-list .row .wrapper .box.genre {
  font-size: 16px;
  text-align: center;
}
body .main-content .page-list.song-list .row .wrapper .box.genre.genre-rock {
  background: url(guitar.png) center center no-repeat #444444;
  background-size: contain;
}
body .main-content .page-list.song-list .row .wrapper .box .fa {
  padding-left: 7px;
  padding-top: 1px;
}
body .main-content .page-list.song-list .row .wrapper .box div.title {
  border-bottom: 1px solid;
  top: -10px;
  position: relative;
}
body .main-content .page-list.song-list .row .wrapper .box div.title a {
  color: #000;
}
body .main-content .page-list.song-list .row .wrapper .box div.title a:hover {
  color: #23527c;
  text-decoration: none;
}
body .main-content .page-list.song-list .row .wrapper .box div.artist {
  font-size: 13px;
}
body .main-content .page-list.song-list .row .wrapper .box div.album {
  font-size: 11px;
}
body .main-content .page-list.song-list .row input {
  background-color: white;
  background-image: url('../images/icons/searchicon.png');
  background-position: 2px 1px;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding-left: 40px;
}
body .main-content .detail-common .container-fluid .row .cover {
  margin-top: 14px;
}
body .main-content .detail-common .container-fluid .row .cover .img-reduced {
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 100px;
}
body .main-content .detail-common .container-fluid .row .title {
  text-align: center;
  margin-top: 14px;
  font-size: 1.4vw;
  letter-spacing: 4px;
  text-decoration: underline;
}
body .main-content .detail-common .container-fluid .row .title a {
  color: #000;
}
body .main-content .detail-common .container-fluid .row .title a:hover {
  color: #c3c0be;
}
body .main-content .detail-common .container-fluid .row.details {
  display: flex;
  justify-content: center;
}
body .main-content .detail-common .container-fluid .row.details table tbody {
  font-size: 1vw;
}
body .main-content .detail-common .container-fluid .row.details table tbody tr td.label-column {
  float: right;
}
body .main-content .table tbody tr td.border-right-solid {
  border-right: 1px solid #ddd;
}
body .main-content .table tbody tr td a:hover {
  text-decoration: none;
}
body .main-content .row.playlist-audio-control {
  width: 100%;
  position: fixed;
  bottom: 0;
}
body .main-content .row.playlist-audio-control .audio {
  display: inline-flex;
  width: 100%;
}
body .main-content .row.playlist-audio-control .audio audio {
  width: 100%;
  zoom: 1.2;
}
body .main-content .row.playlist-audio-control .audio i.fa {
  background-color: #fff;
  padding-right: 4px;
  padding-top: 3px;
  zoom: 1.9;
}
body .main-content .row.playlist-audio-control #playlist {
  background-color: #ffffff;
  border-bottom: 1px dotted;
  border-top: 2px groove;
}
