body {
    .site-header {
        background: black;
        position: relative;
        bottom: 50px;
    }

    .site-content {
        position: relative;
        bottom: 50px;
    }

    .page-list {
        &.song-list {
            .table {
                input {
                    background-color: white;
                    background-image: url('../images/icons/searchicon.png');
                    background-position: 2px 1px;
                    background-repeat: no-repeat;
                    border-radius: 12px;
                    padding-left: 40px;
                }
            }
        }
    }

    #page-content-wrapper {
        .detail-common {
            .container-fluid {
                .row {
                    .img-reduced {
                        width: 100%;
                    }

                    .audio-streaming {
                        width: 100%;
                    }
                }

                .spaced {
                    padding-top: 25px;
                }
            }
        }

        .footer {
            width: 100%;
            position: fixed;
            bottom: 0px;
        }

        .table {
            tbody {
                tr {
                    td {
                        &.border-right-solid {
                            border-right: 1px solid #ddd;
                        }

                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
