body {
    background-color: grey;
    overflow-x: hidden;

    .main-content {
        // Generic index page with list of elements
        .page-list {
            margin-left: 30px;
            // Generic grid
            .music-grid {
                padding-top: 20px;
                // Generic grid-item
                .music-grid-item {
                    width: 150px;
                    height: 150px;
                    border: 1px solid black;
                    position: relative;
                    float: left;
                    margin: 4px;
                    text-align: center;
                    background-color: cadetblue;
                }
            }
            // Specific MUSIC page index rules
            &.song-list {

                .music-grid .music-grid-item {
                    .title {
                        background-color: black;
                        border-bottom-left-radius: 10px;
                    }
                }

                .row {
                    ul {
                        &.pagination {
                            li {
                                a {
                                    background-color: #ccc;
                                    padding: 12px;
                                    border: 1px solid black;
                                }
                            }
                        }
                    }

                    input {
                        background-color: white;
                        background-image: url('../images/icons/searchicon.png');
                        background-position: 2px 1px;
                        background-repeat: no-repeat;
                        border-radius: 12px;
                        padding-left: 40px;
                    }
                }
            }
            // Specific ARTIST page index rules
            &.artist-list {

                .music-grid .music-grid-item {
                    .artname {
                        background-color: black;
                        border-bottom-left-radius: 10px;
                    }
                }
            }
            // Specifig ALBUM page index rules
            &.album-list {
                .music-grid .music-grid-item {
                    .album-title {
                        background-color: black;
                        border-bottom-left-radius: 10px;
                    }
                }
            }
        }

        .detail-common {
            .container-fluid {
                .row {
                    .cover {
                        margin-top: 14px;

                        .img-reduced {
                            display: block;
                            margin: auto;
                            width: 20%;
                            border-radius: 100px;
                        }
                    }

                    .title {
                        text-align: center;
                        margin-top: 14px;
                        font-size: 1.4vw;
                        letter-spacing: 4px;
                        text-decoration: underline;

                        a {
                            color: #000;

                            &:hover {
                                color: #c3c0be;
                            }
                        }
                    }

                    &.details {
                        display: flex;
                        justify-content: center;

                        table {
                            tbody {
                                font-size: 1vw;

                                tr {
                                    td {
                                        &.label-column {
                                            float: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .table {
            tbody {
                tr {
                    td {
                        &.border-right-solid {
                            border-right: 1px solid #ddd;
                        }

                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .row {
            &.playlist-audio-control {
                width: 100%;
                position: fixed;
                bottom: 0;

                .audio-control {

                    .audio-container {
                        display: inline;
                        width: 92%;
                        float: left;
                        top: 4px;
                        position: relative;

                        #audio {
                            width: 100%;
                        }
                    }

                    .opener-container {
                        display: inline;
                        width: 8%;
                        float: left;
                        position: relative;
                        top: 4px;
                    }

                    i {
                        &.fa {
                            background-color: #fff;
                            padding-left: 6px;
                            padding-top: 3px;
                            font-size: 24px;
                            height: 32px;
                            width: 100%;
                        }
                    }
                }

                #playlist {
                    background-color: rgb(255, 255, 255);
                    border-bottom: 1px dotted;
                    border-top: 2px groove;
                }
            }
        }
    }
}
