@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <head>
        <script src="~/app/components/home/homeController.js"></script>
    </head>
    <body ng-controller="HomeController">
        <h1>Welcome to Music Inside App</h1>
    </body>
</html>