@section scripts{
    <script src="~/app/components/artist/artist-search.controller.js"></script>
    <script src="~/app/components/artist/artist-search.service.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
}

<section class="page-list artist-list"
         ng-controller="ArtistSearchController">
    <div class="row">
        <div class="artist-grid">
            <div class="artist-grid-item" ng-repeat="artist in artistList | filter : {artname : userInputFilterTable} ">
                <div class="artname">
                    <a ng-href="{{::artist.artistDetailLink}}"
                       ng-bind="::artist.artName"
                       title="Go to Artist Details">
                    </a>
                </div>
                <div class="number-song" ng-bind="::artist.numberSong">

                </div>
            </div>
        </div>
    </div>
</section>

